.post-pager {
  display: flex;
  justify-content: space-between; /* 両端に配置 */
  margin-top: 2em;
  font-size: 1.5em;
}

.post-pager .prev-post,
.post-pager .next-post {
  flex: 1;      /* 両方が同じ幅を持つ */
  min-width: 0; /* 空でも幅を確保 */
}

.post-pager .prev-post {
  text-align: left;
}

.post-pager .next-post {
  text-align: right;
}

.post-pager a {
  text-decoration: none;
  color: #218bed;
  font-weight: bold;
}

.post-pager a:hover {
  color: #155a9c;
}
