{{ define "main" }}
<section class="archives">
  {{ $sections := .Site.Params.mainSections | default (slice "posts" "post") }}
  {{ $pages := where .Site.RegularPages "Section" "in" $sections }}
  {{ range ($pages.GroupByDate "2006-01") }}
    {{ $parts := split .Key "-" }}
    {{ $yyyy := index $parts 0 }}
    {{ $mm := index $parts 1 }}
    <h2 id="{{ .Key }}">{{ printf "%s年%s月" $yyyy $mm }}</h2>
    <ul class="archive-list">
      {{ range .Pages.ByPublishDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
</section>
{{ end }}

