<header class="site-header">
{{ with .Site.Menus.parent -}}
  <nav class="nav-parent">
  {{ range . -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
  {{ end -}}
  </nav>
{{ end -}}
  <div class="site-branding">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{- if .Site.Params.subtitle }}<h2><a href="{{ .Site.BaseURL }}">{{ .Site.Params.subtitle }}</a></h2>{{- end }}
  </div>
  <nav class="nav-main">
    {{- if not .IsPage -}}
      {{- range .Site.Menus.main -}}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{- end -}}
    {{- end -}}
    {{ partial "search.html" . }}
  </nav>
</header>