{{- $title := printf "%s - %s" .Title .Site.Title -}}
{{- $desc := .Summary | default .Site.Params.description | default .Site.Title -}}
{{- $url := .Permalink -}}
{{- $ogimage := "https://kennon.jp/ogp/default.png" -}}

<meta name="description" content="{{ $desc }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ $url }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:image" content="{{ $ogimage }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ $ogimage }}">