{{ define "main" }}
<div>
  {{ .Content -}}
</div>

<style>
  .article-list{list-style:none;margin:16px 0;padding:0}
  .article-item{position:relative;border:1px solid #ddd;border-radius:0;padding:6px 10px 18px 10px;margin:0;background:#fff;border-bottom:0}
  .article-item:first-child{border-top-left-radius:8px;border-top-right-radius:8px}
  .article-item:last-child{border-bottom:1px solid #ddd;border-bottom-left-radius:8px;border-bottom-right-radius:8px}
  .article-title a{display:inline-block;font-size:1.05em;text-decoration:none;font-weight:bold}
  .article-date{position:absolute;right:8px;bottom:4px;font-size:.8em;color:#666}
</style>

{{ $sections := .Site.Params.mainSections | default (slice "posts" "post") -}}
{{ $pages := where .Site.RegularPages "Section" "in" $sections -}}
<ul class="article-list">
  {{ range ($pages.ByPublishDate.Reverse) -}}
  {{ $pub0 := .PublishDate }}
  {{ if $pub0.IsZero }}
    {{ $m := site.Data.publishdates }}
    {{ $k1 := .File.Path }}
    {{ $k2 := printf "content/%s" .File.Path }}
    {{ $k3 := printf "content/%s%s" .File.Dir .File.LogicalName }}
    {{ with or (index $m $k1) (index $m $k2) (index $m $k3) }}
      {{ $pub0 = time . }}
    {{ else }}
      {{ $pub0 = .Date }}
    {{ end }}
  {{ end }}
  <li class="article-item">
    <div class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
    {{ if not $pub0.IsZero }}
      {{ $pub := time.In "Asia/Tokyo" $pub0 }}
      <div class="article-date">{{ time.Format "2006-01-02 15:04" $pub }}</div>
    {{ end }}
  </li>
  {{ end -}}
</ul>
{{ end }}