<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{ .Site.BaseURL }}">
  {{- partial "html-meta.html" . }}
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  {{- with .Site.Params.favicon }}<link rel="shortcut icon" href="{{ . }}" type="image/x-icon">{{ end }}
  <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">
  {{- partial "google-tag-manager-head.html" . }}
</head>
<body>
  {{ partial "header.html" . -}}
  <main>
    <div>
      {{ .Content -}}
    </div>
    {{ $sections := .Site.Params.mainSections | default (slice "posts" "post") -}}
    {{ $pages := where .Site.RegularPages "Section" "in" $sections -}}
    <ul class="article-list">
      {{ range ($pages.ByPublishDate.Reverse) -}}
      {{ $pub0 := .PublishDate }}
      {{ if $pub0.IsZero }}
        {{ $m := site.Data.publishdates }}
        {{ $k1 := .File.Path }}
        {{ $k2 := printf "content/%s" .File.Path }}
        {{ $k3 := printf "content/%s%s" .File.Dir .File.LogicalName }}
        {{ with or (index $m $k1) (index $m $k2) (index $m $k3) }}
          {{ $pub0 = time . }}
        {{ else }}
          {{ $pub0 = .Date }}
        {{ end }}
      {{ end }}
      <li class="article-item">
        {{ if not $pub0.IsZero }}
        {{ $pub := time.In "Asia/Tokyo" $pub0 }}
        <div class="article-date">{{ time.Format "2006-01-02 15:04" $pub }}</div>
        {{ end }}
        <div class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      </li>
      {{ end -}}
    </ul>
  </main>
  {{- partial "footer.html" . }}
  {{- template "_internal/google_analytics.html" . }}
  {{- partial "external-links.html" . }}
</body>
{{- partial "google-tag-manager-body.html" . }}
</html>

