<div class="comments-block">
  <h2 style="color:black;">コメント</h2>

  {{ $csv := resources.GetRemote site.Params.comments.csvUrl }}
  {{ $data := transform.Unmarshal (dict "format" "csv" "target" "slice") $csv.Content }}

  {{ $slug := .Page.File.TranslationBaseName }}
  {{ $rows := where $data "2" $slug }}

  {{ if gt (len $rows) 0 }}
    <ul class="comment-list">
    {{ range $rows }}
      <li class="comment-item">
        <div class="comment-meta">
          <span class="comment-author">{{ if (index . 1) }}{{ index . 1 }}{{ else }}匿名{{ end }}</span>
          <span class="comment-date">{{ index . 0 }}</span>
        </div>
        <div class="comment-body">{{ index . 3 }}</div>
      </li>
    {{ end }}
    </ul>
  {{ else }}
    <p>まだコメントはありません。</p>
  {{ end }}

  <div class="comment-form">
    <h3 style="color:black; margin:0 0 8px;">コメントを送る</h3>
    <form method="post" action="https://docs.google.com/forms/d/e/{{ site.Params.comments.form.id }}/formResponse" target="_blank">
      <input type="hidden" name="{{ site.Params.comments.form.slugEntry }}" value="{{ $slug }}">
      <p><input type="text" name="{{ site.Params.comments.form.nameEntry }}" placeholder="名前（匿名可）"></p>
      <p><textarea name="{{ site.Params.comments.form.bodyEntry }}" placeholder="コメント" required></textarea></p>
      <p><button type="submit">送信</button></p>
    </form>
  </div>
</div>