{{ define "main" }}
<div class="content-main wide-page">
  <article style="border:none">
    <header style="border:none">
      <h1 style="margin-bottom:0.5em;text-align:left;color:black">{{ .Title }}</h1>
      <div style="margin-top:0.5em;margin-bottom:1.5em;font-size:0.9em;color:#555">
        <time datetime="{{ .Date.Format "2006-01-02" }}">公開日: {{ .Date.Format "2006-01-02" }}</time>
        {{ with .Lastmod }}
          {{ if ne .Unix .Date.Unix }}
            ・<time datetime="{{ .Format "2006-01-02" }}">最終更新日: {{ .Format "2006-01-02" }}</time>
          {{ end }}
        {{ end }}
      </div>
    </header>

    <div class="content" style="border:none">
      {{ .Content }}
    </div>

    {{ if not .Params.disableComments }}
      <section id="comments" style="border:none">
        {{< comments >}}
      </section>
    {{ end }}

    <footer class="post-pager" style="display:flex;justify-content:space-between;gap:12px;margin-top:24px;border:none">
      <div>
        {{ with .PrevInSection }}
          <a href="{{ .RelPermalink }}" style="display:inline-block;padding:6px 10px;text-decoration:none;border:none;font-size:1.2em;color:blue">&lt;</a>
        {{ end }}
      </div>
      <div>
        {{ with .NextInSection }}
          <a href="{{ .RelPermalink }}" style="display:inline-block;padding:6px 10px;text-decoration:none;border:none;font-size:1.2em;color:blue">&gt;</a>
        {{ end }}
      </div>
    </footer>
  </article>
</div>
{{ end }}
